
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.galileo-design1-3uH {
  width: 100%;
  height: 155.1rem;
  background-color: #ffffff;

  .depth-0-frame-0-BEo {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 3.6rem 16rem;

    .depth-3-frame-0-K67 {
      width: 100%;
      height: 133.15rem;
      position: relative;

      .auto-group-qsbv-327 {
        box-sizing: border-box;
        padding: 0rem 1.6rem 1.15rem 1.6rem;
        width: 96rem;
        height: 41.25rem;
        position: absolute;
        left: 0;
        top: 0;

        .yourname-wNP {
          width: 100%;
          line-height: 0.8333333333;
          font-size: 3.3rem;
          font-weight: 700;
          letter-spacing: -0.033rem;
          color: #111417;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 4.8rem;
          text-align: center;
        }
        .about-EcP {
          margin-bottom: 1.55rem;
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.25;
          letter-spacing: -0.033rem;
          color: #111417;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .full-stack-developer-with-5-years-experience-in-software-development-proficient-in-a-range-of-modern-technologies-including-javascript-react-nodejs-and-more-strong-problem-solving-skills-and-a-proven-track-record-of-delivering-high-quality-scalable-solutions-passionate-about-creating-innovative-digital-experiences-that-improve-peoples-lives-ZuZ {
          color: #111417;
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 3.2rem;
          max-width: 91.6rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .technical-skills-jxT {
          line-height: 1.25;
          letter-spacing: -0.033rem;
          color: #111417;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.75rem;
          font-size: 2.2rem;
          font-weight: 700;
        }
        .depth-4-frame-4-U9M {
          margin-bottom: 3.6rem;
          width: 100%;
          height: 5.8rem;
          display: flex;
          column-gap: 1.2rem;
          align-items: center;

          .depth-5-frame-0-nA3 {
            height: 100%;
            display: flex;
            border: solid 0.1rem #dbe0e5;
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 1.7rem 4rem 1.7rem 1.6rem;
            flex-shrink: 0;
            align-items: center;
            border-radius: 0.8rem;

            .depth-6-frame-0-HsV {
              margin-right: 1.2rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .javascript-q8K {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.25;
              color: #111417;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .depth-5-frame-1-v9m {
            align-items: center;
            border: solid 0.1rem #dbe0e5;
            background-color: #ffffff;
            flex-shrink: 0;
            height: 100%;
            display: flex;
            border-radius: 0.8rem;
            box-sizing: border-box;
            padding: 1.7rem 7.9rem 1.7rem 1.6rem;

            .depth-6-frame-0-rZD {
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2rem;
            }
            .react-oDZ {
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.25;
              color: #111417;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .depth-5-frame-2-FLT {
            border: solid 0.1rem #dbe0e5;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.7rem 6.4rem 1.7rem 1.6rem;
            height: 100%;
            border-radius: 0.8rem;
            display: flex;
            align-items: center;
            background-color: #ffffff;

            .depth-6-frame-0-bQK {
              margin-right: 1.2rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .nodejs-9Aw {
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.25;
              color: #111417;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .depth-5-frame-3-Sfq {
            border: solid 0.1rem #dbe0e5;
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
            height: 100%;
            display: flex;
            padding: 1.7rem 6.8rem 1.7rem 1.6rem;
            align-items: center;
            background-color: #ffffff;

            .depth-6-frame-0-xeB {
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 2.4rem;
            }
            .python-TL3 {
              font-weight: 700;
              line-height: 1.25;
              color: #111417;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
            }
          }
          .depth-5-frame-4-aQf {
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #ffffff;
            border-radius: 0.8rem;
            box-sizing: border-box;
            padding: 1.7rem 9.1rem 1.7rem 1.6rem;
            border: solid 0.1rem #dbe0e5;
            flex-shrink: 0;

            .depth-6-frame-0-vUX {
              margin-right: 1.2rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .sql-GYP {
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.25;
              color: #111417;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .work-experience-Pd1 {
          white-space: nowrap;
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.25;
          letter-spacing: -0.033rem;
          color: #111417;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .depth-4-frame-6-8ab {
        box-sizing: border-box;
        height: 7.2rem;
        position: absolute;
        left: 0;
        top: 41.25rem;
        padding: 1.4rem 1.6rem 1.3rem 1.6rem;
        width: 96rem;
        display: flex;
        align-items: center;
        background-color: #ffffff;

        .depth-6-frame-0-QY7 {
          width: 19.4516rem;
          height: 100%;
          flex-shrink: 0;
          margin-right: 63.3484rem;

          .depth-7-frame-0-kby {
            width: 100%;
            font-size: 1.6rem;
            color: #111417;
            white-space: nowrap;
            justify-content: center;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: center;
            height: 2.4rem;
            overflow: hidden;
            position: relative;
            font-weight: 500;
            line-height: 1.5;
          }
          .depth-7-frame-1-46s {
            font-weight: 400;
            line-height: 1.5;
            color: #637587;
            display: flex;
            align-items: center;
            width: 11.3rem;
            font-size: 1.4rem;
            position: relative;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            height: 2.1rem;
            overflow: hidden;
          }
        }
        .present-Z3d {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #637587;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .lead-development-of-a-new-customer-portal-for-a-major-e-commerce-platform-worked-closely-with-product-managers-and-designers-to-create-a-user-friendly-interface-for-managing-subscriptions-and-orders-implemented-several-key-features-including-a-dynamic-product-search-custom-order-tracking-and-an-automated-subscription-management-system-conducted-regular-code-reviews-and-mentored-junior-developers-to-ensure-high-quality-code-standards-and-best-practices-3Dh {
        height: 12rem;
        top: 48.85rem;
        line-height: 1.5;
        color: #111417;
        font-family: Inter, 'Source Sans Pro';
        width: 92.5rem;
        position: absolute;
        left: 1.6rem;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .depth-4-frame-8-9g3 {
        top: 62.05rem;
        align-items: center;
        padding: 1.4rem 1.5rem 1.3rem 1.6rem;
        height: 7.2rem;
        position: absolute;
        left: 0;
        box-sizing: border-box;
        width: 96rem;
        display: flex;
        background-color: #ffffff;

        .depth-6-frame-0-4Y7 {
          flex-shrink: 0;
          margin-right: 70.5781rem;
          width: 14.1219rem;
          height: 100%;

          .depth-7-frame-0-nyu {
            width: 100%;
            overflow: hidden;
            font-weight: 500;
            line-height: 1.5;
            color: #111417;
            position: relative;
            font-size: 1.6rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .depth-7-frame-1-j8T {
            position: relative;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            align-items: center;
            width: 10.6rem;
            height: 2.1rem;
            overflow: hidden;
            display: flex;
            justify-content: center;
            color: #637587;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .item-2018-2020-rD5 {
          color: #637587;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
      .auto-group-ykvr-yoV {
        padding: 0.4rem 1.6rem 1.15rem 1.6rem;
        width: 96rem;
        height: 17.15rem;
        position: absolute;
        left: 0;
        top: 69.25rem;
        box-sizing: border-box;

        .developed-and-maintained-a-suite-of-internal-tools-for-a-fast-growing-tech-startup-collaborated-with-cross-functional-teams-to-build-custom-solutions-for-automating-business-processes-and-improving-operational-efficiency-led-the-migration-of-legacy-systems-to-a-modern-microservices-architecture-reducing-technical-debt-and-increasing-system-reliability-designed-and-implemented-restful-apis-for-integration-with-third-party-services-and-external-partners-JKy {
          font-weight: 400;
          line-height: 1.5;
          color: #111417;
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 3.2rem;
          max-width: 89rem;
          font-size: 1.6rem;
        }
        .education-eHM {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.25;
          letter-spacing: -0.033rem;
          color: #111417;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .depth-4-frame-11-Nz3 {
        top: 86.4rem;
        display: flex;
        align-items: center;
        width: 96rem;
        height: 7.2rem;
        position: absolute;
        left: 0;
        box-sizing: border-box;
        padding: 1.3rem 1.5rem 1.4rem 1.6rem;
        background-color: #ffffff;

        .depth-6-frame-0-5dZ {
          height: 100%;
          flex-shrink: 0;
          margin-right: 57.2438rem;
          width: 27.6563rem;

          .depth-7-frame-0-1XD {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 2.4rem;
            overflow: hidden;
            position: relative;
            font-size: 1.6rem;
            line-height: 1.5;
            font-weight: 500;
            color: #111417;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
          }
          .depth-7-frame-1-97d {
            display: flex;
            width: 25rem;
            overflow: hidden;
            position: relative;
            font-size: 1.4rem;
            color: #637587;
            white-space: nowrap;
            height: 2.1rem;
            font-weight: 400;
            line-height: 1.5;
            font-family: Inter, 'Source Sans Pro';
            align-items: center;
            justify-content: center;
          }
        }
        .item-2016-2018-Eum {
          line-height: 1.5;
          color: #637587;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
      .depth-4-frame-12-aTq {
        align-items: center;
        box-sizing: border-box;
        padding: 1.3rem 1.6rem 1.4rem 1.6rem;
        left: 0;
        top: 93.6rem;
        display: flex;
        background-color: #ffffff;
        width: 96rem;
        height: 7.2rem;
        position: absolute;

        .depth-6-frame-0-H7M {
          margin-right: 42.4734rem;
          width: 42.4266rem;
          height: 100%;
          flex-shrink: 0;

          .depth-7-frame-0-dh1 {
            overflow: hidden;
            font-family: Inter, 'Source Sans Pro';
            align-items: center;
            justify-content: center;
            position: relative;
            font-weight: 500;
            display: flex;
            margin-right: 0.0266rem;
            height: 2.4rem;
            color: #111417;
            white-space: nowrap;
            width: calc(100% - 0.0266rem);
            font-size: 1.6rem;
            line-height: 1.5;
          }
          .depth-7-frame-1-Vz7 {
            line-height: 1.5;
            color: #637587;
            display: flex;
            justify-content: center;
            height: 2.1rem;
            overflow: hidden;
            font-size: 1.4rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            width: 28.8rem;
            position: relative;
          }
        }
        .item-2012-2016-oE7 {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #637587;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .personal-projects-LE3 {
        width: 18.3rem;
        left: 1.6rem;
        color: #111417;
        font-family: Inter, 'Source Sans Pro';
        height: 2.8rem;
        position: absolute;
        top: 102.8rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        letter-spacing: -0.033rem;
        white-space: nowrap;
      }
      .depth-4-frame-14-DYj {
        width: 96rem;
        height: 7.2rem;
        display: flex;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 1.4rem 1.5rem 1.3rem 1.6rem;
        position: absolute;
        left: 0;
        top: 106.75rem;
        align-items: center;

        .depth-6-frame-0-LNT {
          flex-shrink: 0;
          margin-right: 15.3609rem;
          width: 67.7391rem;
          height: 100%;

          .depth-7-frame-0-UDm {
            line-height: 1.5;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            width: 10.2rem;
            font-size: 1.6rem;
            position: relative;
            font-weight: 500;
            color: #111417;
            font-family: Inter, 'Source Sans Pro';
            align-items: center;
            height: 2.4rem;
            overflow: hidden;
          }
          .depth-7-frame-1-yAX {
            margin-right: 0.0391rem;
            position: relative;
            font-family: Inter, 'Source Sans Pro';
            justify-content: center;
            height: 2.1rem;
            white-space: nowrap;
            display: flex;
            width: calc(100% - 0.0391rem);
            overflow: hidden;
            font-weight: 400;
            line-height: 1.5;
            color: #637587;
            font-size: 1.4rem;
            align-items: center;
          }
        }
        .present-qCj {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #637587;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .depth-4-frame-15-jou {
        width: 96rem;
        height: 7.2rem;
        top: 113.95rem;
        display: flex;
        box-sizing: border-box;
        padding: 1.4rem 1.5rem 1.3rem 1.6rem;
        position: absolute;
        left: 0;
        align-items: center;
        background-color: #ffffff;

        .depth-6-frame-0-rdd {
          margin-right: 18.6219rem;
          width: 66.0781rem;
          height: 100%;
          flex-shrink: 0;

          .depth-7-frame-0-DDH {
            width: 11.2rem;
            font-size: 1.6rem;
            line-height: 1.5;
            display: flex;
            white-space: nowrap;
            align-items: center;
            height: 2.4rem;
            overflow: hidden;
            position: relative;
            font-weight: 500;
            color: #111417;
            font-family: Inter, 'Source Sans Pro';
            justify-content: center;
          }
          .depth-7-frame-1-vtP {
            justify-content: center;
            overflow: hidden;
            position: relative;
            font-size: 1.4rem;
            color: #637587;
            white-space: nowrap;
            align-items: center;
            width: 100%;
            height: 2.1rem;
            font-weight: 400;
            line-height: 1.5;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
          }
        }
        .item-2019-2020-SLw {
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #637587;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .depth-4-frame-16-A23 {
        padding: 1.4rem 1.5rem 1.3rem 1.6rem;
        width: 96rem;
        position: absolute;
        top: 121.15rem;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        box-sizing: border-box;
        height: 7.2rem;
        left: 0;

        .depth-6-frame-0-sx3 {
          margin-right: 13.8188rem;
          width: 71.1813rem;
          height: 100%;
          flex-shrink: 0;

          .depth-7-frame-0-qP5 {
            font-size: 1.6rem;
            line-height: 1.5;
            color: #111417;
            white-space: nowrap;
            align-items: center;
            height: 2.4rem;
            overflow: hidden;
            position: relative;
            justify-content: center;
            display: flex;
            width: 18.1rem;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
          }
          .depth-7-frame-1-ZZy {
            position: relative;
            font-size: 1.4rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: center;
            height: 2.1rem;
            overflow: hidden;
            color: #637587;
            white-space: nowrap;
            justify-content: center;
            width: 100%;
            line-height: 1.5;
          }
        }
        .item-2017-2018-5HR {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #637587;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .depth-9-frame-0-pF1 {
        left: 0;
        font-weight: 700;
        white-space: nowrap;
        border-radius: 1.2rem;
        height: 4.8rem;
        top: 128.35rem;
        font-size: 1.6rem;
        color: #ffffff;
        align-items: center;
        background-color: #197fe5;
        cursor: pointer;
        text-align: center;
        display: flex;
        line-height: 1.5;
        letter-spacing: 0.024rem;
        font-family: Inter, 'Source Sans Pro';
        width: 13.1625rem;
        position: absolute;
        justify-content: center;
      }
    }
  }
}
