
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.galileo-design0-Qwq {
  width: 100%;
  height: 173.4rem;
  background-color: #ffffff;

  .galileo-design-ZZq {
    margin-bottom: 11.7rem;
    width: 100%;
    height: 161.7rem;
    background-color: #ffffff;

    .depth-0-frame-0-J1d {
      flex-direction: column;
      padding: 3.6rem 0rem 1.8rem 0rem;
      height: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      box-sizing: border-box;
      width: 100%;
      background-color: #ffffff;

      .depth-3-frame-0-pkf {
        position: relative;
        flex-shrink: 0;
        margin: 0rem 16rem 2rem 16rem;
        width: calc(100% - 32rem);
        height: 149.5rem;

        .auto-group-vcij-Ygf {
          box-sizing: border-box;
          padding: 0rem 1.6rem 1.15rem 1.6rem;
          width: 96rem;
          height: 62.4rem;
          position: absolute;
          left: 0;
          top: 0;

          .depth-5-frame-0-THq {
            margin: 0rem 24.75rem 3.6rem 24.75rem;
            width: calc(100% - 49.5rem);
            align-items: center;
            display: flex;
            flex-direction: column;

            .depth-6-frame-0-Me7 {
              margin-bottom: 1.6rem;
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .depth-8-frame-0-hT5 {
                flex-shrink: 0;
                margin-bottom: 1.6rem;
                width: 12.8rem;
                height: 12.8rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 6.4rem;
              }
              .depth-7-frame-1-mC3 {
                width: 100%;
                height: 5.15rem;
                position: relative;
                flex-shrink: 0;

                .monogram-id5 {
                  font-size: 2.2rem;
                  font-weight: 700;
                  line-height: 1.25;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  width: 11.4rem;
                  left: 15.95rem;
                  top: 0;
                  text-align: center;
                  letter-spacing: -0.033rem;
                  color: #111417;
                  height: 2.8rem;
                  position: absolute;
                }
                .digital-agency-building-composable-websites-web-apps-Ajy {
                  left: 0;
                  text-align: center;
                  font-weight: 400;
                  white-space: nowrap;
                  height: 2.4rem;
                  position: absolute;
                  font-size: 1.6rem;
                  line-height: 1.5;
                  color: #637587;
                  font-family: Inter, 'Source Sans Pro';
                  width: 43.3rem;
                  top: 2.75rem;
                }
              }
            }
            .depth-6-frame-1-GHD {
              height: 4rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0 8.3648rem;
              width: calc(100% - 16.7297rem);

              .depth-8-frame-0-QPR {
                background-color: #eff2f4;
                border-radius: 1.2rem;
                height: 100%;
                overflow: hidden;
                position: relative;
                flex-shrink: 0;
                margin-right: 1.2rem;
                box-sizing: border-box;
                padding: 0.95rem 1.594rem 0.95rem 1.6rem;
                width: 13.3938rem;

                .depth-9-frame-0-KmH {
                  height: 100%;
                  overflow: hidden;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  position: relative;
                  background-color: #eff2f4;
                  font-weight: 700;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  font-size: 1.4rem;
                  line-height: 1.5;
                  letter-spacing: 0.021rem;
                  color: #111417;
                }
              }
              .depth-8-frame-0-PFM {
                width: 11.9766rem;
                overflow: hidden;
                background-color: #197fe5;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0.95rem 1.577rem 0.95rem 1.6rem;
                height: 100%;
                position: relative;
                border-radius: 1.2rem;

                .depth-9-frame-0-VZH {
                  height: 100%;
                  position: relative;
                  line-height: 1.5;
                  color: #ffffff;
                  white-space: nowrap;
                  background-color: #197fe5;
                  font-size: 1.4rem;
                  font-weight: 700;
                  letter-spacing: 0.021rem;
                  display: flex;
                  width: 100%;
                  overflow: hidden;
                  font-family: Inter, 'Source Sans Pro';
                  align-items: center;
                  justify-content: center;
                }
              }
            }
          }
          .summary-9dq {
            color: #111417;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.55rem;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.25;
            letter-spacing: -0.033rem;
          }
          .full-stack-developer-with-5-years-experience-in-software-development-proficient-in-a-range-of-modern-technologies-including-javascript-react-nodejs-and-more-strong-problem-solving-skills-and-a-proven-track-record-of-delivering-high-quality-scalable-solutions-passionate-about-creating-innovative-digital-experiences-that-improve-peoples-lives-gdm {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #111417;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 3.2rem;
            max-width: 91.6rem;
          }
          .technical-skills-sCT {
            color: #111417;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2.75rem;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.25;
            letter-spacing: -0.033rem;
          }
          .depth-4-frame-4-oM1 {
            column-gap: 1.2rem;
            align-items: center;
            margin-bottom: 3.6rem;
            width: 100%;
            height: 5.8rem;
            display: flex;

            .depth-5-frame-0-8eB {
              border-radius: 0.8rem;
              padding: 1.7rem 4rem 1.7rem 1.6rem;
              display: flex;
              align-items: center;
              border: solid 0.1rem #dbe0e5;
              box-sizing: border-box;
              height: 100%;
              background-color: #ffffff;
              flex-shrink: 0;

              .depth-6-frame-0-pmu {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.2rem;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
              }
              .javascript-wrX {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.25;
                color: #111417;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .depth-5-frame-1-TZy {
              padding: 1.7rem 7.9rem 1.7rem 1.6rem;
              display: flex;
              align-items: center;
              border-radius: 0.8rem;
              flex-shrink: 0;
              box-sizing: border-box;
              height: 100%;
              border: solid 0.1rem #dbe0e5;
              background-color: #ffffff;

              .depth-6-frame-0-bRH {
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.2rem;
                width: 2.4rem;
              }
              .react-jGb {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.25;
                color: #111417;
              }
            }
            .depth-5-frame-2-Ez3 {
              display: flex;
              border: solid 0.1rem #dbe0e5;
              background-color: #ffffff;
              height: 100%;
              padding: 1.7rem 6.4rem 1.7rem 1.6rem;
              align-items: center;
              border-radius: 0.8rem;
              flex-shrink: 0;
              box-sizing: border-box;

              .depth-6-frame-0-ZFd {
                margin-right: 1.2rem;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .nodejs-V9H {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.25;
                color: #111417;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .depth-5-frame-3-ovf {
              box-sizing: border-box;
              align-items: center;
              background-color: #ffffff;
              border-radius: 0.8rem;
              flex-shrink: 0;
              padding: 1.7rem 6.8rem 1.7rem 1.6rem;
              height: 100%;
              display: flex;
              border: solid 0.1rem #dbe0e5;

              .depth-6-frame-0-9zX {
                margin-right: 1.2rem;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .python-hm9 {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.25;
                color: #111417;
              }
            }
            .depth-5-frame-4-zkF {
              flex-shrink: 0;
              padding: 1.7rem 9.1rem 1.7rem 1.6rem;
              height: 100%;
              align-items: center;
              border: solid 0.1rem #dbe0e5;
              background-color: #ffffff;
              box-sizing: border-box;
              display: flex;
              border-radius: 0.8rem;

              .depth-6-frame-0-7Zy {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.2rem;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
              }
              .sql-FAP {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.25;
                color: #111417;
                font-family: Inter, 'Source Sans Pro';
              }
            }
          }
          .work-experience-jbM {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.25;
            letter-spacing: -0.033rem;
            color: #111417;
          }
        }
        .depth-4-frame-6-sSf {
          position: absolute;
          left: 0;
          display: flex;
          box-sizing: border-box;
          height: 7.2rem;
          top: 62.4rem;
          align-items: center;
          background-color: #ffffff;
          padding: 1.4rem 1.6rem 1.3rem 1.6rem;
          width: 96rem;

          .depth-6-frame-0-zGP {
            margin-right: 63.3484rem;
            width: 19.4516rem;
            height: 100%;
            flex-shrink: 0;

            .depth-7-frame-0-K3m {
              overflow: hidden;
              font-size: 1.6rem;
              line-height: 1.5;
              align-items: center;
              width: 100%;
              position: relative;
              font-weight: 500;
              color: #111417;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              justify-content: center;
              height: 2.4rem;
            }
            .depth-7-frame-1-1xB {
              position: relative;
              font-size: 1.4rem;
              line-height: 1.5;
              color: #637587;
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              height: 2.1rem;
              overflow: hidden;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              width: 11.3rem;
            }
          }
          .present-w59 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #637587;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .lead-development-of-a-new-customer-portal-for-a-major-e-commerce-platform-worked-closely-with-product-managers-and-designers-to-create-a-user-friendly-interface-for-managing-subscriptions-and-orders-implemented-several-key-features-including-a-dynamic-product-search-custom-order-tracking-and-an-automated-subscription-management-system-conducted-regular-code-reviews-and-mentored-junior-developers-to-ensure-high-quality-code-standards-and-best-practices-G7R {
          width: 92.5rem;
          font-size: 1.6rem;
          line-height: 1.5;
          font-weight: 400;
          color: #111417;
          font-family: Inter, 'Source Sans Pro';
          height: 12rem;
          position: absolute;
          left: 1.6rem;
          top: 70rem;
        }
        .depth-4-frame-8-1DR {
          width: 96rem;
          position: absolute;
          left: 0;
          display: flex;
          box-sizing: border-box;
          padding: 1.4rem 1.5rem 1.3rem 1.6rem;
          height: 7.2rem;
          top: 83.2rem;
          align-items: center;
          background-color: #ffffff;

          .depth-6-frame-0-vbH {
            flex-shrink: 0;
            margin-right: 70.5781rem;
            width: 14.1219rem;
            height: 100%;

            .depth-7-frame-0-4Bh {
              line-height: 1.5;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              overflow: hidden;
              position: relative;
              font-size: 1.6rem;
              font-weight: 500;
              width: 100%;
              color: #111417;
            }
            .depth-7-frame-1-B1R {
              white-space: nowrap;
              justify-content: center;
              height: 2.1rem;
              position: relative;
              color: #637587;
              font-weight: 400;
              line-height: 1.5;
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              align-items: center;
              width: 10.6rem;
              overflow: hidden;
              font-size: 1.4rem;
            }
          }
          .item-2018-2020-6PH {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #637587;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-yb6o-q5y {
          box-sizing: border-box;
          padding: 0.4rem 1.6rem 1.15rem 1.6rem;
          width: 96rem;
          height: 17.15rem;
          position: absolute;
          left: 0;
          top: 90.4rem;

          .developed-and-maintained-a-suite-of-internal-tools-for-a-fast-growing-tech-startup-collaborated-with-cross-functional-teams-to-build-custom-solutions-for-automating-business-processes-and-improving-operational-efficiency-led-the-migration-of-legacy-systems-to-a-modern-microservices-architecture-reducing-technical-debt-and-increasing-system-reliability-designed-and-implemented-restful-apis-for-integration-with-third-party-services-and-external-partners-iQf {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #111417;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 3.2rem;
            max-width: 89rem;
          }
          .education-gko {
            font-weight: 700;
            line-height: 1.25;
            letter-spacing: -0.033rem;
            color: #111417;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2.2rem;
          }
        }
        .depth-4-frame-11-dR9 {
          box-sizing: border-box;
          position: absolute;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          padding: 1.3rem 1.5rem 1.4rem 1.6rem;
          width: 96rem;
          height: 7.2rem;
          left: 0;
          top: 107.55rem;

          .depth-6-frame-0-xCX {
            margin-right: 57.2438rem;
            width: 27.6563rem;
            height: 100%;
            flex-shrink: 0;

            .depth-7-frame-0-fsd {
              line-height: 1.5;
              white-space: nowrap;
              justify-content: center;
              height: 2.4rem;
              font-weight: 500;
              position: relative;
              font-size: 1.6rem;
              color: #111417;
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              align-items: center;
              width: 100%;
              overflow: hidden;
            }
            .depth-7-frame-1-BLB {
              display: flex;
              height: 2.1rem;
              overflow: hidden;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              line-height: 1.5;
              color: #637587;
              align-items: center;
              justify-content: center;
              width: 25rem;
              position: relative;
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
          .item-2016-2018-hZR {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #637587;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .depth-4-frame-12-EZM {
          width: 96rem;
          position: absolute;
          left: 0;
          align-items: center;
          box-sizing: border-box;
          padding: 1.3rem 1.6rem 1.4rem 1.6rem;
          height: 7.2rem;
          top: 114.75rem;
          display: flex;
          background-color: #ffffff;

          .depth-6-frame-0-zB9 {
            margin-right: 42.4734rem;
            width: 42.4266rem;
            height: 100%;
            flex-shrink: 0;

            .depth-7-frame-0-wMH {
              width: calc(100% - 0.0266rem);
              overflow: hidden;
              font-weight: 500;
              white-space: nowrap;
              display: flex;
              justify-content: center;
              margin-right: 0.0266rem;
              align-items: center;
              font-family: Inter, 'Source Sans Pro';
              height: 2.4rem;
              position: relative;
              font-size: 1.6rem;
              line-height: 1.5;
              color: #111417;
            }
            .depth-7-frame-1-QEs {
              line-height: 1.5;
              justify-content: center;
              position: relative;
              font-size: 1.4rem;
              overflow: hidden;
              font-weight: 400;
              color: #637587;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              width: 28.8rem;
              height: 2.1rem;
              align-items: center;
            }
          }
          .item-2012-2016-j2F {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #637587;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .personal-projects-Tiw {
          left: 1.6rem;
          top: 123.95rem;
          font-weight: 700;
          line-height: 1.25;
          white-space: nowrap;
          font-family: Inter, 'Source Sans Pro';
          width: 18.3rem;
          height: 2.8rem;
          position: absolute;
          font-size: 2.2rem;
          letter-spacing: -0.033rem;
          color: #111417;
        }
        .depth-4-frame-14-AtF {
          align-items: center;
          background-color: #ffffff;
          box-sizing: border-box;
          left: 0;
          top: 127.9rem;
          position: absolute;
          display: flex;
          padding: 1.4rem 1.5rem 1.3rem 1.6rem;
          width: 96rem;
          height: 7.2rem;

          .depth-6-frame-0-6G7 {
            margin-right: 15.3609rem;
            width: 67.7391rem;
            height: 100%;
            flex-shrink: 0;

            .depth-7-frame-0-dG3 {
              font-size: 1.6rem;
              font-weight: 500;
              color: #111417;
              font-family: Inter, 'Source Sans Pro';
              width: 10.2rem;
              height: 2.4rem;
              overflow: hidden;
              position: relative;
              white-space: nowrap;
              justify-content: center;
              line-height: 1.5;
              display: flex;
              align-items: center;
            }
            .depth-7-frame-1-HbV {
              font-weight: 400;
              white-space: nowrap;
              display: flex;
              overflow: hidden;
              position: relative;
              margin-right: 0.0391rem;
              width: calc(100% - 0.0391rem);
              align-items: center;
              justify-content: center;
              line-height: 1.5;
              color: #637587;
              font-family: Inter, 'Source Sans Pro';
              height: 2.1rem;
              font-size: 1.4rem;
            }
          }
          .present-aKh {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #637587;
          }
        }
        .depth-4-frame-15-KHH {
          width: 96rem;
          height: 7.2rem;
          top: 135.1rem;
          left: 0;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          box-sizing: border-box;
          padding: 1.4rem 1.5rem 1.3rem 1.6rem;
          position: absolute;

          .depth-6-frame-0-zuD {
            height: 100%;
            flex-shrink: 0;
            margin-right: 18.6219rem;
            width: 66.0781rem;

            .depth-7-frame-0-xLF {
              align-items: center;
              position: relative;
              font-weight: 500;
              line-height: 1.5;
              color: #111417;
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              justify-content: center;
              width: 11.2rem;
              height: 2.4rem;
              overflow: hidden;
              font-size: 1.6rem;
              white-space: nowrap;
            }
            .depth-7-frame-1-5fm {
              position: relative;
              font-size: 1.4rem;
              line-height: 1.5;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 2.1rem;
              overflow: hidden;
              font-weight: 400;
              color: #637587;
              display: flex;
            }
          }
          .item-2019-2020-13d {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #637587;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .depth-4-frame-16-iTq {
          padding: 1.4rem 1.5rem 1.3rem 1.6rem;
          height: 7.2rem;
          left: 0;
          background-color: #ffffff;
          box-sizing: border-box;
          width: 96rem;
          position: absolute;
          top: 142.3rem;
          display: flex;
          align-items: center;

          .depth-6-frame-0-dqh {
            margin-right: 13.8188rem;
            width: 71.1813rem;
            height: 100%;
            flex-shrink: 0;

            .depth-7-frame-0-zRM {
              color: #111417;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 18.1rem;
              height: 2.4rem;
              overflow: hidden;
              position: relative;
              font-weight: 500;
              align-items: center;
              justify-content: center;
              font-size: 1.6rem;
              line-height: 1.5;
              display: flex;
            }
            .depth-7-frame-1-7Vy {
              height: 2.1rem;
              overflow: hidden;
              position: relative;
              font-weight: 400;
              line-height: 1.5;
              color: #637587;
              white-space: nowrap;
              width: 100%;
              align-items: center;
              justify-content: center;
              display: flex;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.4rem;
            }
          }
          .item-2017-2018-pQP {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #637587;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .depth-9-frame-0-Z75 {
        cursor: pointer;
        color: #ffffff;
        letter-spacing: 0.024rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        background-color: #197fe5;
        width: 13.1625rem;
        height: 4.8rem;
        text-align: center;
        flex-shrink: 0;
        font-weight: 700;
        border-radius: 1.2rem;
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
        line-height: 1.5;
      }
    }
  }
}
