
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.galileo-design3-dq9 {
  width: 100%;
  height: 222.75rem;
  background-color: #ffffff;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf {
  width: 100%;
  height: 216.35rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .depth-2-frame-0-h4K {
  box-sizing: border-box;
  padding: 2.125rem 4rem 2.075rem 4rem;
  width: 100%;
  height: 6.5rem;
  border: solid 0.1rem #e5e8ea;
  flex-shrink: 0;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .depth-2-frame-0-h4K .depth-4-frame-0-QUX {
  width: 10.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .depth-2-frame-0-h4K .depth-4-frame-0-QUX .depth-5-frame-0-ATh {
  margin: 0rem 1.6rem 0.05rem 0rem;
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .depth-2-frame-0-h4K .depth-4-frame-0-QUX .velocity-Gmd {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.027rem;
  color: #111417;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 {
  box-sizing: border-box;
  padding: 3.6rem 19.697rem 0rem 16rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB {
  margin: 0rem 42.703rem 9.9rem 0rem;
  width: 49.6rem;
  flex-shrink: 0;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .create-your-resume-bxK {
  margin: 0rem 0rem 2.9rem 1.6rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.08rem;
  color: #111417;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-s99 {
  margin: 0rem 0rem 2.5rem 1.6rem;
  width: 48rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-s99 .full-name-oYb {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-s99 .depth-8-frame-0-9MZ {
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 1.7rem 1.5rem;
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #dbe0e5;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-s99 .depth-8-frame-0-9MZ .depth-9-frame-0-soM {
  margin-right: 37.6547rem;
  width: 7.3453rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-xK1 {
  margin: 0rem 0rem 2.5rem 1.6rem;
  width: 48rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-xK1 .title-hXV {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-xK1 .depth-8-frame-0-DEw {
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 1.7rem 1.5rem;
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #dbe0e5;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-xK1 .depth-8-frame-0-DEw .depth-9-frame-0-8co {
  margin-right: 31.3703rem;
  width: 13.6297rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-pVd {
  margin: 0rem 0rem 2.5rem 1.6rem;
  width: 48rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-pVd .location-AZV {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-pVd .depth-8-frame-0-KBV {
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 1.7rem 1.5rem;
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #dbe0e5;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-pVd .depth-8-frame-0-KBV .depth-9-frame-0-ezT {
  margin-right: 31.1rem;
  width: 13.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-fPm {
  margin: 0rem 0rem 2.5rem 1.6rem;
  width: 48rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-fPm .years-of-experience-Paf {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-fPm .depth-8-frame-0-vqV {
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 1.7rem 1.5rem;
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dbe0e5;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-fPm .depth-8-frame-0-vqV .depth-9-frame-0-G8f {
  margin-right: 35.3rem;
  width: 7.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-fPm .depth-8-frame-0-vqV .depth-9-frame-1-AUw {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-seF {
  margin: 0rem 0rem 3.3rem 1.6rem;
  width: 48rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-seF .personal-statement-Di7 {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-seF .depth-8-frame-0-i95 {
  box-sizing: border-box;
  padding: 1.5rem 1.8rem 1.5rem 1.5rem;
  width: 100%;
  height: 14.4rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #dbe0e5;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-seF .depth-8-frame-0-i95 .write-a-personal-statement-that-highlights-your-background-skills-and-career-ambitions-this-is-the-first-thing-employers-will-see-so-make-it-count-3h9 {
  max-width: 44.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Epilogue, 'Source Sans Pro';
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .work-experience-6vK {
  margin: 0rem 0rem 2.45rem 1.6rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.033rem;
  color: #111417;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-2JB {
  margin: 0rem 0rem 2.5rem 1.6rem;
  width: calc(100% - 1.6rem);
  height: 8.8rem;
  display: flex;
  align-items: center;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-2JB .depth-6-frame-0-A9V {
  margin-right: 1.6rem;
  width: 23.2rem;
  height: 100%;
  flex-shrink: 0;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-2JB .depth-6-frame-0-A9V .company-7aX {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-2JB .depth-6-frame-0-A9V .depth-8-frame-0-GCX {
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 1.7rem 1.5rem;
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #dbe0e5;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-2JB .depth-6-frame-0-A9V .depth-8-frame-0-GCX .depth-9-frame-0-z8X {
  margin-right: 12.5891rem;
  width: 7.6109rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-2JB .depth-6-frame-1-g1M {
  width: 23.2rem;
  height: 100%;
  flex-shrink: 0;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-2JB .depth-6-frame-1-g1M .title-36o {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-2JB .depth-6-frame-1-g1M .depth-8-frame-0-z23 {
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 1.7rem 1.5rem;
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #dbe0e5;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-2JB .depth-6-frame-1-g1M .depth-8-frame-0-z23 .depth-9-frame-0-WFH {
  margin-right: 6.5703rem;
  width: 13.6297rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-NHV {
  margin: 0rem 0rem 2.5rem 1.6rem;
  width: calc(100% - 1.6rem);
  height: 8.8rem;
  display: flex;
  align-items: center;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-NHV .depth-6-frame-0-W8o {
  margin-right: 1.6rem;
  width: 23.2rem;
  height: 100%;
  flex-shrink: 0;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-NHV .depth-6-frame-0-W8o .start-date-38j {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-NHV .depth-6-frame-0-W8o .depth-8-frame-0-nMD {
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 1.7rem 1.5rem;
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #dbe0e5;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-NHV .depth-6-frame-0-W8o .depth-8-frame-0-nMD .depth-9-frame-0-ikf {
  margin-right: 13.3rem;
  width: 6.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-NHV .depth-6-frame-1-BeF {
  width: 23.2rem;
  height: 100%;
  flex-shrink: 0;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-NHV .depth-6-frame-1-BeF .end-date-wdR {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-NHV .depth-6-frame-1-BeF .depth-8-frame-0-gqu {
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 1.7rem 1.5rem;
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #dbe0e5;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-NHV .depth-6-frame-1-BeF .depth-8-frame-0-gqu .depth-9-frame-0-px7 {
  margin-right: 14rem;
  width: 6.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-FnX {
  margin: 0rem 0rem 3.3rem 1.6rem;
  width: 48rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-FnX .role-description-brP {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-FnX .depth-8-frame-0-HUK {
  box-sizing: border-box;
  padding: 1.5rem;
  width: 100%;
  height: 14.4rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #dbe0e5;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-FnX .depth-8-frame-0-HUK .describe-your-role-responsibilities-and-key-accomplishments-at-this-company-pz3 {
  max-width: 34.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Epilogue, 'Source Sans Pro';
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .education-uVh {
  margin: 0rem 0rem 2.45rem 1.6rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.033rem;
  color: #111417;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-psZ {
  margin: 0rem 0rem 2.5rem 1.6rem;
  width: 48rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-psZ .school-whH {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-psZ .depth-8-frame-0-4mu {
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 1.7rem 1.5rem;
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #dbe0e5;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-psZ .depth-8-frame-0-4mu .depth-9-frame-0-ozP {
  margin-right: 19.8rem;
  width: 25.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-HPm {
  margin: 0rem 0rem 3.3rem 1.6rem;
  width: calc(100% - 1.6rem);
  height: 8.8rem;
  display: flex;
  align-items: center;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-HPm .depth-6-frame-0-cwq {
  margin-right: 1.6rem;
  width: 23.2rem;
  height: 100%;
  flex-shrink: 0;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-HPm .depth-6-frame-0-cwq .degree-mpj {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-HPm .depth-6-frame-0-cwq .depth-8-frame-0-6s1 {
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 1.7rem 1.5rem;
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #dbe0e5;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-HPm .depth-6-frame-0-cwq .depth-8-frame-0-6s1 .depth-9-frame-0-po1 {
  margin-right: 2.4781rem;
  width: 17.7219rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-HPm .depth-6-frame-1-Ucf {
  width: 23.2rem;
  height: 100%;
  flex-shrink: 0;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-HPm .depth-6-frame-1-Ucf .graduation-date-Ebq {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-HPm .depth-6-frame-1-Ucf .depth-8-frame-0-n7Z {
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 1.7rem 1.5rem;
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #dbe0e5;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-5-frame-0-HPm .depth-6-frame-1-Ucf .depth-8-frame-0-n7Z .depth-9-frame-0-7fd {
  margin-right: 13.3rem;
  width: 6.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .skills-zDd {
  margin: 0rem 0rem 2.45rem 1.6rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.033rem;
  color: #111417;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-Wxf {
  margin: 0rem 0rem 1.3rem 1.6rem;
  width: 48rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-Wxf .skills-pyM {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-Wxf .depth-8-frame-0-Njy {
  box-sizing: border-box;
  padding: 1.5rem 1.9rem 1.5rem 1.5rem;
  width: 100%;
  height: 14.4rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #dbe0e5;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-6-frame-0-Wxf .depth-8-frame-0-Njy .product-design-ui-ux-prototyping-figma-sketch-adobe-creative-suite-KQK {
  max-width: 44.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Epilogue, 'Source Sans Pro';
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-9-frame-0-Cyu {
  margin-bottom: 0.1rem;
  width: 13.1625rem;
  height: 4.8rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.024rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #197fe5;
  border-radius: 1.2rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-9-frame-0-UAj {
  margin-bottom: 0.1rem;
  width: 13.1625rem;
  height: 4.8rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.024rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #197fe5;
  border-radius: 1.2rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-3-frame-0-WAB .depth-9-frame-1-jcT {
  width: 13.1625rem;
  height: 4.8rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.024rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #197fe5;
  border-radius: 1.2rem;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-5-frame-0-QCo {
  margin-left: 3.7rem;
  height: 7.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-5-frame-0-QCo .talent-for-employers-wiX {
  margin-right: 5.7867rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-5-frame-0-QCo .auto-group-c9vy-UTZ {
  margin-right: 6.0031rem;
  width: 38.5133rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-5-frame-0-QCo .auto-group-c9vy-UTZ .auto-group-4vjw-1yH {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-5-frame-0-QCo .auto-group-c9vy-UTZ .auto-group-4vjw-1yH .talent-for-developers-yQK {
  margin-right: 5.9133rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-5-frame-0-QCo .auto-group-c9vy-UTZ .auto-group-4vjw-1yH .talent-for-designers-JhV {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-5-frame-0-QCo .auto-group-c9vy-UTZ .talent-for-marketers-FMq {
  margin-left: 6.5133rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design3-dq9 .depth-0-frame-0-jiya-2024-02-24-jiya-2024-02-24-zQo .depth-1-frame-0-LUf .auto-group-ymz7-yg3 .depth-5-frame-0-QCo .talent-for-product-managers-9y1 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
