
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.galileo-design1-3uH {
  width: 100%;
  height: 155.1rem;
  background-color: #ffffff;
}
.galileo-design1-3uH .depth-0-frame-0-BEo {
  box-sizing: border-box;
  padding: 3.6rem 16rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 {
  width: 100%;
  height: 133.15rem;
  position: relative;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 {
  box-sizing: border-box;
  padding: 0rem 1.6rem 1.15rem 1.6rem;
  width: 96rem;
  height: 41.25rem;
  position: absolute;
  left: 0;
  top: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .yourname-wNP {
  margin-bottom: 4.8rem;
  width: 100%;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 0.8333333333;
  letter-spacing: -0.033rem;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .about-EcP {
  margin-bottom: 1.55rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.033rem;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .full-stack-developer-with-5-years-experience-in-software-development-proficient-in-a-range-of-modern-technologies-including-javascript-react-nodejs-and-more-strong-problem-solving-skills-and-a-proven-track-record-of-delivering-high-quality-scalable-solutions-passionate-about-creating-innovative-digital-experiences-that-improve-peoples-lives-ZuZ {
  margin-bottom: 3.2rem;
  max-width: 91.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .technical-skills-jxT {
  margin-bottom: 2.75rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.033rem;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .depth-4-frame-4-U9M {
  margin-bottom: 3.6rem;
  width: 100%;
  height: 5.8rem;
  display: flex;
  column-gap: 1.2rem;
  align-items: center;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .depth-4-frame-4-U9M .depth-5-frame-0-nA3 {
  box-sizing: border-box;
  padding: 1.7rem 4rem 1.7rem 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dbe0e5;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .depth-4-frame-4-U9M .depth-5-frame-0-nA3 .depth-6-frame-0-HsV {
  margin-right: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .depth-4-frame-4-U9M .depth-5-frame-0-nA3 .javascript-q8K {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .depth-4-frame-4-U9M .depth-5-frame-1-v9m {
  box-sizing: border-box;
  padding: 1.7rem 7.9rem 1.7rem 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dbe0e5;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .depth-4-frame-4-U9M .depth-5-frame-1-v9m .depth-6-frame-0-rZD {
  margin-right: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .depth-4-frame-4-U9M .depth-5-frame-1-v9m .react-oDZ {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .depth-4-frame-4-U9M .depth-5-frame-2-FLT {
  box-sizing: border-box;
  padding: 1.7rem 6.4rem 1.7rem 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dbe0e5;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .depth-4-frame-4-U9M .depth-5-frame-2-FLT .depth-6-frame-0-bQK {
  margin-right: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .depth-4-frame-4-U9M .depth-5-frame-2-FLT .nodejs-9Aw {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .depth-4-frame-4-U9M .depth-5-frame-3-Sfq {
  box-sizing: border-box;
  padding: 1.7rem 6.8rem 1.7rem 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dbe0e5;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .depth-4-frame-4-U9M .depth-5-frame-3-Sfq .depth-6-frame-0-xeB {
  margin-right: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .depth-4-frame-4-U9M .depth-5-frame-3-Sfq .python-TL3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .depth-4-frame-4-U9M .depth-5-frame-4-aQf {
  box-sizing: border-box;
  padding: 1.7rem 9.1rem 1.7rem 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dbe0e5;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .depth-4-frame-4-U9M .depth-5-frame-4-aQf .depth-6-frame-0-vUX {
  margin-right: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .depth-4-frame-4-U9M .depth-5-frame-4-aQf .sql-GYP {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-qsbv-327 .work-experience-Pd1 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.033rem;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-6-8ab {
  box-sizing: border-box;
  padding: 1.4rem 1.6rem 1.3rem 1.6rem;
  width: 96rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 41.25rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-6-8ab .depth-6-frame-0-QY7 {
  margin-right: 63.3484rem;
  width: 19.4516rem;
  height: 100%;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-6-8ab .depth-6-frame-0-QY7 .depth-7-frame-0-kby {
  width: 100%;
  height: 2.4rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-6-8ab .depth-6-frame-0-QY7 .depth-7-frame-1-46s {
  width: 11.3rem;
  height: 2.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-6-8ab .present-Z3d {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .lead-development-of-a-new-customer-portal-for-a-major-e-commerce-platform-worked-closely-with-product-managers-and-designers-to-create-a-user-friendly-interface-for-managing-subscriptions-and-orders-implemented-several-key-features-including-a-dynamic-product-search-custom-order-tracking-and-an-automated-subscription-management-system-conducted-regular-code-reviews-and-mentored-junior-developers-to-ensure-high-quality-code-standards-and-best-practices-3Dh {
  width: 92.5rem;
  height: 12rem;
  position: absolute;
  left: 1.6rem;
  top: 48.85rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-8-9g3 {
  box-sizing: border-box;
  padding: 1.4rem 1.5rem 1.3rem 1.6rem;
  width: 96rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 62.05rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-8-9g3 .depth-6-frame-0-4Y7 {
  margin-right: 70.5781rem;
  width: 14.1219rem;
  height: 100%;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-8-9g3 .depth-6-frame-0-4Y7 .depth-7-frame-0-nyu {
  width: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-8-9g3 .depth-6-frame-0-4Y7 .depth-7-frame-1-j8T {
  width: 10.6rem;
  height: 2.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-8-9g3 .item-2018-2020-rD5 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-ykvr-yoV {
  box-sizing: border-box;
  padding: 0.4rem 1.6rem 1.15rem 1.6rem;
  width: 96rem;
  height: 17.15rem;
  position: absolute;
  left: 0;
  top: 69.25rem;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-ykvr-yoV .developed-and-maintained-a-suite-of-internal-tools-for-a-fast-growing-tech-startup-collaborated-with-cross-functional-teams-to-build-custom-solutions-for-automating-business-processes-and-improving-operational-efficiency-led-the-migration-of-legacy-systems-to-a-modern-microservices-architecture-reducing-technical-debt-and-increasing-system-reliability-designed-and-implemented-restful-apis-for-integration-with-third-party-services-and-external-partners-JKy {
  margin-bottom: 3.2rem;
  max-width: 89rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .auto-group-ykvr-yoV .education-eHM {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.033rem;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-11-Nz3 {
  box-sizing: border-box;
  padding: 1.3rem 1.5rem 1.4rem 1.6rem;
  width: 96rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 86.4rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-11-Nz3 .depth-6-frame-0-5dZ {
  margin-right: 57.2438rem;
  width: 27.6563rem;
  height: 100%;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-11-Nz3 .depth-6-frame-0-5dZ .depth-7-frame-0-1XD {
  width: 100%;
  height: 2.4rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-11-Nz3 .depth-6-frame-0-5dZ .depth-7-frame-1-97d {
  width: 25rem;
  height: 2.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-11-Nz3 .item-2016-2018-Eum {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-12-aTq {
  box-sizing: border-box;
  padding: 1.3rem 1.6rem 1.4rem 1.6rem;
  width: 96rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 93.6rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-12-aTq .depth-6-frame-0-H7M {
  margin-right: 42.4734rem;
  width: 42.4266rem;
  height: 100%;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-12-aTq .depth-6-frame-0-H7M .depth-7-frame-0-dh1 {
  margin-right: 0.0266rem;
  width: calc(100% - 0.0266rem);
  height: 2.4rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-12-aTq .depth-6-frame-0-H7M .depth-7-frame-1-Vz7 {
  width: 28.8rem;
  height: 2.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-12-aTq .item-2012-2016-oE7 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .personal-projects-LE3 {
  width: 18.3rem;
  height: 2.8rem;
  position: absolute;
  left: 1.6rem;
  top: 102.8rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.033rem;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-14-DYj {
  box-sizing: border-box;
  padding: 1.4rem 1.5rem 1.3rem 1.6rem;
  width: 96rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 106.75rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-14-DYj .depth-6-frame-0-LNT {
  margin-right: 15.3609rem;
  width: 67.7391rem;
  height: 100%;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-14-DYj .depth-6-frame-0-LNT .depth-7-frame-0-UDm {
  width: 10.2rem;
  height: 2.4rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-14-DYj .depth-6-frame-0-LNT .depth-7-frame-1-yAX {
  margin-right: 0.0391rem;
  width: calc(100% - 0.0391rem);
  height: 2.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-14-DYj .present-qCj {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-15-jou {
  box-sizing: border-box;
  padding: 1.4rem 1.5rem 1.3rem 1.6rem;
  width: 96rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 113.95rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-15-jou .depth-6-frame-0-rdd {
  margin-right: 18.6219rem;
  width: 66.0781rem;
  height: 100%;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-15-jou .depth-6-frame-0-rdd .depth-7-frame-0-DDH {
  width: 11.2rem;
  height: 2.4rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-15-jou .depth-6-frame-0-rdd .depth-7-frame-1-vtP {
  width: 100%;
  height: 2.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-15-jou .item-2019-2020-SLw {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-16-A23 {
  box-sizing: border-box;
  padding: 1.4rem 1.5rem 1.3rem 1.6rem;
  width: 96rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 121.15rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-16-A23 .depth-6-frame-0-sx3 {
  margin-right: 13.8188rem;
  width: 71.1813rem;
  height: 100%;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-16-A23 .depth-6-frame-0-sx3 .depth-7-frame-0-qP5 {
  width: 18.1rem;
  height: 2.4rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-16-A23 .depth-6-frame-0-sx3 .depth-7-frame-1-ZZy {
  width: 100%;
  height: 2.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-4-frame-16-A23 .item-2017-2018-5HR {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #637587;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design1-3uH .depth-0-frame-0-BEo .depth-3-frame-0-K67 .depth-9-frame-0-pF1 {
  width: 13.1625rem;
  height: 4.8rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 128.35rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.024rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  background-color: #197fe5;
  border-radius: 1.2rem;
}
